<h1 class="page-header">
  系管理
  <button type="button" class="btn btn-primary" ng-click="showEditor(null);"><span class="glyphicon glyphicon-plus"></span> 新增</button>
</h1>

<div class="row placeholders">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>系名</th>
        <th>显示顺序</th>
        <th class="col-xs-2">操作</th>
        <th>其他</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="department in departments">
        <td class="text-left">{{department.id}}</td>
        <td class="text-left">{{department.departmentName}}</td>
        <td class="text-left">{{department.sequence}}</td>
        <td class="text-left">
          <button type="button" class="btn btn-primary btn-xs" ng-click="showEditor(department);">编辑</button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="delete(department);">删除</button>

        </td>
        <td class="text-left">  <a  class="btn btn-info btn-sm" href="#/majors/{{department.id}}">专业管理</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

