<h1 class="page-header">
    设置角色
    <button type="button" class="btn btn-default" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>返回</button>
</h1>

<div class="row placeholders">
    <div class="col-xs-12 text-center">

            <form>
                <fieldset>
                    <legend>请为此用户({{nickname}})设置角色</legend>
                    <div ng-repeat="role in roles">
                        <label class="checkbox font-16">
                            <input type="checkbox"  ng-model="role.selected"> {{role.roleName}}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-info" ng-click="submit()">提交</button>
                </fieldset>
            </form>

    </div>
</div>

